<!-- SERVICE 3-->
<div class="content-inner-page service service3">
    <h2 class="column-title mrt-0">Fabrication des pavés</h2>
    <div class="row">
        <div class="col-md-12">
            <p>Un pavé est un bloc généralement en pierre, en bois ou en béton utilisé pour le revêtement de la chaussée - le pavage. De nos jours, il est utilisé essentiellement pour des voies piétonnières ou rarement empruntées, dans des secteurs historiques ou pour de courts segments de routes.</p>
            <p>Chez CMS vous aurez ce service selon vos besoins. Peu importe la quantité, la forme, la dimension de votre demande en pavés.</p>
        </div>
        <!-- col end -->
    </div>
    <!-- 1st row end-->

    <div class="gap-40"></div>

    <div id="page-slider" class="page-slider">
        <div class="item">
            <img loading="lazy" class="img-fluid" src="views/pages/assets/images/projects/pave.jpg" alt="project-slider-image" />
        </div>
        <!-- 
        <div class="item">
            <img loading="lazy" class="img-fluid" src="views/pages/assets/images/projects/project1.jpg" alt="project-slider-image" />
        </div> -->
    </div>
    <!-- Page slider end -->

    <div class="gap-40"></div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="column-title-small">QU'EST-CE QUI NOUS DIFFERENCIE</h3>

            <p>Forte de son expérience de 22 ans, CMS, comme l’ensemble de son Groupe, a fini par se faire une identité propre dans la sphère de son domaine d’activité. Elle a laissé ses empreintes, un peu partout en République Démocratique du Congo à travers
                les ouvrages qu’elle a construits, toujours en s’appuyant solidement sur une culture d’entreprise à plusieurs racines fondamentales, notamment :</p>
            <ul class="list-arrow">
                <li>la place centrale qu’occupent les aspirations du client dans la politique de l’entreprise, et</li>
                <li>La nécessité d’entretenir un environnement professionnel propice, avec des moyens techniques en phase avec les objectifs ; et un personnel qualifié et motivé en permanence.</li>
                <li>La satisfaction de la clientèle notre objectif final.</li>
                <li>Une réputation d'excellence.</li>
                <li>Construction de partenariats.</li>
                <li>Une équipe des professionnels.</li>
            </ul>
        </div>

        <div class="col-md-6 mt-5 mt-md-0">
            <h3 class="column-title-small">Vous devrez savoir</h3>

            <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                <div class="card">
                    <div class="card-header p-0 bg-transparent" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Quels sont les différents types de pavés ?
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#construction-accordion">
                        <div class="card-body">
                            Les pavés de marbre sont souvent utilisés à des fins résidentielles et commerciales, que ce soit pour les patios, les allées, les allées piétonnes et même les allées de gazon. ...
                            Marbre, La brique, Pierre naturelle, Pierre Bleue et Pavés en béton.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-0 bg-transparent" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Quel type de sable pour pavés ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#construction-accordion">
                        <div class="card-body">
                            Le sable utilisé pour la pose de pavés est réparti selon la granulométrie, c'est-à-dire la taille des grains : Sable fin : 0,05 à 0,5 mm ; Sable moyen : 0,5 à 2 mm ; Sable gros : 2 à 5 mm.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-0 bg-transparent" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Quel est le meilleur pavé ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#construction-accordion">
                        <div class="card-body">
                            Le pavé en pierre naturelle peut provenir de différentes matières, dont les principales sont le granit, le grès et le calcaire. Le granit est la pierre la plus résistante dans le temps, c'est la pierre dure par excellence.
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Accordion end -->
        </div>
    </div>
    <!--2nd row end -->

    <div class="gap-40"></div>

    <div class="call-to-action classic">
        <div class="row align-items-center">
            <div class="col-md-8 text-center text-md-left">
                <div class="call-to-action-text">
                    <h3 class="action-title">INTÉRESSÉ PAR CE SERVICE ?</h3>
                </div>
            </div>
            <!-- Col end -->
            <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                <div class="call-to-action-btn">
                    <a class="btn btn-primary" href="contact">Contactez-nous</a>
                </div>
            </div>
            <!-- col end -->
        </div>
        <!-- row end -->
    </div>
    <!-- Action end -->

</div>
<!-- Content inner end SERVICE 3 -->