<!-- SERVICE 2-->
<div class="content-inner-page service service2">
  <h2 class="column-title mrt-0">Constructions metalliques</h2>
  <div class="row">
    <div class="col-md-12">
      <p>
        Les constructions métalliques constituent un domaine important
        d'utilisation des produits laminés sortis de la forge. Elles emploient,
        en particulier, les tôles et les profilés. Les structures constituées à
        partir de ces éléments nécessitent des opérations préalables de
        découpage, de perçage et de soudage en usine.
      </p>
      <p>
        La construction métallique faisant partie des constructions modernes,
        CMS met à la disposition de sa clientèle un service de construction
        métalique repondant aux besoins de toutes sortes de commende.
      </p>
    </div>
    <!-- col end -->
  </div>
  <!-- 1st row end-->

  <div class="gap-40"></div>

  <div id="page-slider" class="page-slider">
    <div class="item">
      <img
        loading="lazy"
        class="img-fluid"
        src="views/pages/assets/images/projects/fer.JPG"
        alt="project-slider-image"
      />
    </div>

    <!-- <div class="item">
            <img loading="lazy" class="img-fluid" src="views/pages/assets/images/projects/project1.jpg" alt="project-slider-image" />
        </div> -->
  </div>
  <!-- Page slider end -->

  <div class="gap-40"></div>

  <div class="row">
    <div class="col-md-6">
      <h3 class="column-title-small">QU'EST-CE QUI NOUS DIFFERENCIE</h3>

      <p>
        Forte de son expérience de 22 ans, CMS, comme l’ensemble de son Groupe,
        a fini par se faire une identité propre dans la sphère de son domaine
        d’activité. Elle a laissé ses empreintes, un peu partout en République
        Démocratique du Congo à travers les ouvrages qu’elle a construits,
        toujours en s’appuyant solidement sur une culture d’entreprise à
        plusieurs racines fondamentales, notamment :
      </p>
      <ul class="list-arrow">
        <li>
          la place centrale qu’occupent les aspirations du client dans la
          politique de l’entreprise, et
        </li>
        <li>
          La nécessité d’entretenir un environnement professionnel propice, avec
          des moyens techniques en phase avec les objectifs ; et un personnel
          qualifié et motivé en permanence.
        </li>
        <li>La satisfaction de la clientèle notre objectif final.</li>
        <li>Une réputation d'excellence.</li>
        <li>Construction de partenariats.</li>
        <li>Une équipe des professionnels.</li>
      </ul>
    </div>

    <div class="col-md-6 mt-5 mt-md-0">
      <h3 class="column-title-small">Vous devrez savoir</h3>

      <div
        class="accordion accordion-group accordion-classic"
        id="construction-accordion"
      >
        <div class="card">
          <div class="card-header p-0 bg-transparent" id="headingOne">
            <h2 class="mb-0">
              <button
                class="btn btn-block text-left"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
              Pourquoi la construction métallique ?
              </button>
            </h2>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#construction-accordion"
          >
            <div class="card-body">
              Les constructions métalliques permettent une grande créativité et une luminosité importante. La durabilité demeure un argument de poids, l'acier étant un matériau naturellement résistant au feu et solide. Enfin, les constructions métalliques demandent peu d'entretien.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0 bg-transparent" id="headingTwo">
            <h2 class="mb-0">
              <button
                class="btn btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
              Comment dimensionner une structure métallique ?
              </button>
            </h2>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#construction-accordion"
          >
            <div class="card-body">
              Le dimensionnement des éléments constructifs ce bâtiment doit respecter les conditions de résistance et de flèche dans les deux domaines élastique et plastique, selon les deux règles respectivement CM66 et Additif 80. De plus les poteaux doivent être résistibles aux phénomènes de flambement et de déversement.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0 bg-transparent" id="headingThree">
            <h2 class="mb-0">
              <button
                class="btn btn-block text-left collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Quel métal pour structure ?
              </button>
            </h2>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#construction-accordion"
          >
            <div class="card-body">
              
Que ce soit pour une structure industrielle ou métallique, l'acier est le matériau de prédilection parmi les matériaux pour charpente. L'acier est un alliage métallique de fer et de carbone. Grâce à ses propriétés, ce matériau est utilisé dans beaucoup de constructions métalliques.
            </div>
          </div>
        </div>
      </div>
      <!--/ Accordion end -->
    </div>
  </div>
  <!--2nd row end -->

  <div class="gap-40"></div>

  <div class="call-to-action classic">
    <div class="row align-items-center">
      <div class="col-md-8 text-center text-md-left">
        <div class="call-to-action-text">
          <h3 class="action-title">INTÉRESSÉ PAR CE SERVICE ?</h3>
        </div>
      </div>
      <!-- Col end -->
      <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
        <div class="call-to-action-btn">
          <a class="btn btn-primary" href="contact">Contatez-nous</a>
        </div>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- Action end -->
</div>
<!-- Content inner end SERVICE 2 -->
