<!-- SERVICE 3-->
<div class="content-inner-page service service3">
    <h2 class="column-title mrt-0">Rénovations de bâtiments</h2>
    <div class="row">
        <div class="col-md-12">
            <p>Le BTP, élément déterminant à la catégorisation sociale en Afrique à une valeur plus que sacré. Soucieux de la réalisation des vœux de souscripteur, CMS développe pour ses clients une compétence globale à travers les spécialités de l’ensemble
                de ses unités opérationnelles.</p>
            <p>Ce service en spécialités permet à CMS d’offrir désormais un STYLE DE VIE au travers des plans et modèles de construction moderne pour apporter une réponse appropriée aux attentes de l’ensemble de ses clients.</p>
        </div>
        <!-- col end -->
    </div>
    <!-- 1st row end-->

    <div class="gap-40"></div>

    <div id="page-slider" class="page-slider">
        <div class="item">
            <img loading="lazy" class="img-fluid" src="views/pages/assets/images/projects/renov.jpg" alt="project-slider-image" />
        </div>
        <!-- 
        <div class="item">
            <img loading="lazy" class="img-fluid" src="views/pages/assets/images/projects/project1.jpg" alt="project-slider-image" />
        </div> -->
    </div>
    <!-- Page slider end -->

    <div class="gap-40"></div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="column-title-small">QU'EST-CE QUI NOUS DIFFERENCIE</h3>

            <p>Forte de son expérience de 22 ans, CMS, comme l’ensemble de son Groupe, a fini par se faire une identité propre dans la sphère de son domaine d’activité. Elle a laissé ses empreintes, un peu partout en République Démocratique du Congo à travers
                les ouvrages qu’elle a construits, toujours en s’appuyant solidement sur une culture d’entreprise à plusieurs racines fondamentales, notamment :</p>
            <ul class="list-arrow">
                <li>la place centrale qu’occupent les aspirations du client dans la politique de l’entreprise, et</li>
                <li>La nécessité d’entretenir un environnement professionnel propice, avec des moyens techniques en phase avec les objectifs ; et un personnel qualifié et motivé en permanence.</li>
                <li>La satisfaction de la clientèle notre objectif final.</li>
                <li>Une réputation d'excellence.</li>
                <li>Construction de partenariats.</li>
                <li>Une équipe des professionnels.</li>
            </ul>
        </div>

        <div class="col-md-6 mt-5 mt-md-0">
            <h3 class="column-title-small">Vous devrez savoir</h3>

            <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                <div class="card">
                    <div class="card-header p-0 bg-transparent" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                La loi exige-t-elle une protection de la tête sur les chantiers
                                de construction ?
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#construction-accordion">
                        <div class="card-body">
                            CMS protège ses agents au terrain et se rassure que les agents ont les outils nécéssaire pour qu'ils travaillent en sécurité.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-0 bg-transparent" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Quelles sont les exigences de premiers secours pour les
                                chantiers ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#construction-accordion">
                        <div class="card-body">
                            CMS protège ses agents au terrain et se rassure que les agents ont les outils nécéssaire pour qu'ils travaillent en sécurité.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-0 bg-transparent" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Qu'est-ce qu'une personne désignée ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#construction-accordion">
                        <div class="card-body">
                            CMS protège ses agents au terrain et se rassure que les agents ont les outils nécéssaire pour qu'ils travaillent en sécurité.
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Accordion end -->
        </div>
    </div>
    <!--2nd row end -->

    <div class="gap-40"></div>

    <div class="call-to-action classic">
        <div class="row align-items-center">
            <div class="col-md-8 text-center text-md-left">
                <div class="call-to-action-text">
                    <h3 class="action-title">INTÉRESSÉ PAR CE SERVICE ?</h3>
                </div>
            </div>
            <!-- Col end -->
            <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                <div class="call-to-action-btn">
                    <a class="btn btn-primary" href="contact">Obtenir un devis</a>
                </div>
            </div>
            <!-- col end -->
        </div>
        <!-- row end -->
    </div>
    <!-- Action end -->

</div>
<!-- Content inner end SERVICE 3 -->