<!-- SERVICE 3-->
<div class="content-inner-page">

    <h2 class="column-title mrt-0">Fabrication des Blocs</h2>

    <div class="row">
        <div class="col-md-12">
            <p>La fabrication de blocs fait référence au mélange de ciment en poudre, de sable, de gravier avec de l'eau d'une manière qui produit une couleur gris clair avec une texture de surface fine et une résistance après séchage au soleil.</p>
            <p>Ce service en spécialités permet à CMS d’offrir à sa clientèle la meilleure qualité de blocs bien solides et adaptés à n'importe quel type de construction.</p>
        </div>
        <!-- col end -->
    </div>
    <!-- 1st row end-->

    <div class="gap-40"></div>

    <div id="page-slider" class="page-slider">
        <div class="item">
            <img loading="lazy" class="img-fluid" src="views/pages/assets/images/projects/block.jpg" alt="project-slider-image" />
        </div>

        <!-- <div class="item">
            <img loading="lazy" class="img-fluid" src="views/pages/assets/images/projects/block.jpg" alt="project-slider-image" />
        </div> -->
    </div>
    <!-- Page slider end -->

    <div class="gap-40"></div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="column-title-small">QU'EST-CE QUI NOUS DIFFERENCIE</h3>

            <p>Forte de son expérience de 22 ans, CMS, comme l’ensemble de son Groupe, a fini par se faire une identité propre dans la sphère de son domaine d’activité. Elle a laissé ses empreintes, un peu partout en République Démocratique du Congo à travers
                les ouvrages qu’elle a construits, toujours en s’appuyant solidement sur une culture d’entreprise à plusieurs racines fondamentales, notamment :</p>
            <ul class="list-arrow">
                <li>la place centrale qu’occupent les aspirations du client dans la politique de l’entreprise, et</li>
                <li>La nécessité d’entretenir un environnement professionnel propice, avec des moyens techniques en phase avec les objectifs ; et un personnel qualifié et motivé en permanence.</li>
                <li>La satisfaction de la clientèle notre objectif final.</li>
                <li>Une réputation d'excellence.</li>
                <li>Construction de partenariats.</li>
                <li>Une équipe des professionnels.</li>
            </ul>
        </div>

        <div class="col-md-6 mt-5 mt-md-0">
            <h3 class="column-title-small">Vous devrez savoir</h3>

            <div class="accordion accordion-group accordion-classic" id="construction-accordion">
                <div class="card">
                    <div class="card-header p-0 bg-transparent" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Comment fabriquer les bloc ciment ?
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#construction-accordion">
                        <div class="card-body">
                            Prendre un sac de 50 Kg de ciment. Peser 1,5 Kg de colorant Incorporer le colorant peu à peu en remuant constamment le ciment. Mélanger colorant et ciment jusqu'à obtenir une teinte uniforme. Si le colorant forme des petites boulettes, écraser-les.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-0 bg-transparent" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Le processus de fabrication des blocs
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#construction-accordion">
                        <div class="card-body">
                            Etape 1 : réception des matières premières, Etape 2 : Le malaxage, Etape 3 : La trémie tampon, 
                            Etape 4 : La presse à blocs, Etape 5 : L'évacuation vers les étuves, Etape 6 : La palettisation, 
                            Etape 7 : Le stockage à l'extérieur, Etape 8 : Les tests en laboratoire.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-0 bg-transparent" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Quels sont les inconvénients du ciment ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#construction-accordion">
                        <div class="card-body">
                            Les ciments peuvent provoquer des maladies dont certaines se révèlent invalidantes pour les travailleurs : Irritations de la peau par le ciment frais, pouvant conduire à des brûlures, à un dessèchement de la peau et à des crevasses.
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Accordion end -->
        </div>
    </div>
    <!--2nd row end -->

    <div class="gap-40"></div>

    <div class="call-to-action classic">
        <div class="row align-items-center">
            <div class="col-md-8 text-center text-md-left">
                <div class="call-to-action-text">
                    <h3 class="action-title">INTÉRESSÉ PAR CE SERVICE ?</h3>
                </div>
            </div>
            <!-- Col end -->
            <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                <div class="call-to-action-btn">
                    <a class="btn btn-primary" href="contact">Obtenir un devis</a>
                </div>
            </div>
            <!-- col end -->
        </div>
        <!-- row end -->
    </div>
    <!-- Action end -->

</div>
<!-- Content inner end -->
<!-- Content inner end SERVICE 3 -->